/*------------------------------------*\
  GLOBAL COLOUR VARIABLES
\*------------------------------------*/

/* GREY PALETTE */
$white: #fff;
$light-grey-1: #f0f0f0;
$light-grey-2: #f5f5f5;
$light-grey-3: #e5e5e5;
$mid-grey-1: #b2b2b1;
$mid-grey-2: #cbcbcb;
$dark-grey: #6e6e6e;
$owl-black: #474547;
$black: #000;
